################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Products MicroServices/.vs
/User Microservice/Angular Client App
/Products MicroServices/CommerceSolution.ProductsService/ProductsMicroService.API/obj
/Products MicroServices/CommerceSolution.ProductsService/ProductsMicroService.API/bin/Debug/net9.0
/Products MicroServices/CommerceSolution.ProductsService/DataAccessLayer/obj
/Products MicroServices/CommerceSolution.ProductsService/DataAccessLayer/bin/Debug/net9.0
/Products MicroServices/CommerceSolution.ProductsService/BusinessLogicLayer/obj
/Products MicroServices/CommerceSolution.ProductsService/BusinessLogicLayer/bin/Debug/net9.0
/Products MicroServices/CommerceSolution.ProductsService/.vs
